@import '../variables/mixins';
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-image: url('../../assets/hero.png');
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;

  .headline {
    text-align: center;
    @include headlines(48, $color-magenta);
    font-weight: 400;
  }

  .sub-headline {
    text-align: center;
    @include headlines(30, $color-white);
  }
}
