.anchor {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  color: $color-magenta;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}
