@import '../variables/mixins';
.dropdown-container {
  min-width: 130px;
  position: relative;
  @include flex(stretch, center);
  height: 100%;

  .dropdown-button {
    position: relative;
    @include flex(stretch, space-evenly);
    background-color: $color-magenta;
    border: none;
    outline: none;
    color: $color-white;
    height: auto;
    cursor: pointer;
    z-index: 11;

    span {
      &:nth-child(1) {
        margin-right: 10px;
      }

      &:nth-child(3) {
        margin-left: 20px;
        font-size: 20px;
      }
    }
  }

  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 15%);
    z-index: 10;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .dropdown-body {
    padding: 10px 20px 20px;
    background-color: $color-white;
    border-radius: 5px;
    position: absolute;
    top: calc(100% + 20px);
    width: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
    opacity: 0;
    visibility: hidden;

    span {
      position: absolute;
      right: 25px;
      top: -18px;
      color: $color-white;
      font-size: 30px;
    }

    .dropdown-items-container {
      position: relative;
      z-index: 2;
      width: 100%;
      .dropdown-items {
        display: block;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: $color-darkGrey;
        text-decoration: none;
        padding: 8px 5px;

        &:not(:last-child) {
          border-bottom: 1px solid $color-paleGrey;
        }
        &:last-child {
          color: $color-magenta;
        }
      }
    }
  }

  &.show {
    .overlay {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    .dropdown-body {
      visibility: visible;
      opacity: 1;
    }
  }
}
