@import '../variables/mixins';
@import '../variables/fonts';

.likes-dislikes {
  @include flex(center, space-between);
  max-width: 120px;
  gap: 15px;
  margin-top: 20px;

  & > div {
    span {
      @include flex(center, center);
      flex-direction: column;
      gap: 10px;
      font-size: 12px;
      font-weight: 700;

      button {
        width: 44px;
        height: 44px;
        padding: 5px;
        font-size: $fs-lg;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 50%;
        outline: none;
        border: none;
        &:hover {
          background-color: $color-weirdGreen;
        }

        &.like-btn {
          background-color: $color-weirdGreen;
          &:hover {
            background-color: $color-kiwiGreen;
          }
        }

        &.dislike-btn {
          background-color: $color-appleRed;
          &:hover {
            background-color: #e72121;
          }
        }
      }
      &.likes-counter {
        color: $color-weirdGreen;
      }
      &.dislikes-counter {
        color: $color-appleRed;
      }
    }
  }
}
