.loading {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: var(--color-dark);

  .container {
    width: 100%;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
}
