@import '../variables/mixins';
.loading {
  position: fixed;
  inset: 0;
  @include flex(center, center);
  width: 100%;
  height: auto;
  background-color: $color-dark;

  .container {
    width: 100%;
    color: $color-white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
}
