@use '../colors/colors';
@use '../variables/fonts';
@use '../variables/mixins';

.card {
  height: 100%;
  min-height: 264px;
  max-height: 300px;
  flex-direction: column;
  @include mixins.flex(stretch, center);
  padding: 16px;
  background-color: $color-white;
  border: 1px solid #ecebe9;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  }
  .card-header {
    width: 100%;
    h2 {
      @include mixins.headlines(16, $color-dark);
      text-align: left;
      text-transform: uppercase;

      span {
        margin-right: 5px;
      }
    }
  }

  .card-body {
    width: 100%;
    margin-top: 25px;
    p {
      font-size: fonts.$fs-sm;
      font-weight: 400;
      line-height: 1.57;
      color: $color-dark;
      text-align: left;
    }
  }

  .card-footer {
    width: 100%;
    text-align: right;
    margin-top: auto;
  }
}
