.main {
  padding: 60px 0;

  .buttons-container {
    display: grid;
    gap: 15px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
  }

  .cards-container {
    margin-top: 40px;
    display: grid;
    gap: 15px;
    align-items: stretch;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .pagination {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 3px;
    cursor: pointer;

    .page-item {
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-weirdGreen);
      border-radius: 3px;

      &.disabled {
        background-color: var(--color-appleRed);
      }
      &.active {
        background-color: var(--color-kiwiGreen);
      }

      .page-link {
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 700;
        padding: 10px;
        color: var(--color-white);
        text-align: center;
      }
    }
  }
}
