@import './buttons/buttons';
@import './buttons/back-button';
@import './Card/card';
@import './miscelleneous/anchor';
@import './miscelleneous/cards_grid';
@import './miscelleneous/dropdown';
@import './miscelleneous/likes-dislikes';
@import './miscelleneous/loading';
@import './miscelleneous/searchbar';
@import './header/header';
@import './hero/hero';
@import './home/home';
@import './footer/footer';
@import './singlejoke/singlejoke';
@import './category/category';
@import './miscelleneous/pagination';
@import './miscelleneous/next-prev';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding: 50px 0;
  background-color: $color-offWhite;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}
