@import '../variables/mixins';
@import '../colors/colors';

.category {
  .headline {
    @include headlines(24, $color-darkGrey);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% - 560px);
      height: 1px;
      background-color: $color-weirdGreen;
    }
  }
}
