:root {
  --color-white: #fff;
  --color-offWhite: #f9f9f9;
  --color-dark: #303030;
  --color-magenta: #cfb995;
  --color-paleGrey: #b2b2b2;
  --color-appleRed: #ff5b5b;
  --color-weirdGreen: #57e690;
  --color-pastalOrange: #ff915b;
  --color-skyBlue: #57dbe6;
  --color-darkMagenta: #d0ba93;
  --color-paleOrange: #ffbe5b;
  --color-kiwiGreen: #8fe360;
  --color-lightGold: #ffdf5b;
  --color-darkGrey: #5e5e5e;
}
