@import '../variables/mixins';

.joke-details {
  display: flex;
  align-items: stretch;
  gap: 20px;

  @include media('md') {
    flex-direction: column;
  }

  .single {
    width: 100%;
    max-width: 65%;
    @include media('md') {
      max-width: 100%;
    }

    .card-actions {
      @include flex(center, space-between);

      .next-prev {
        gap: 10px;
      }
    }
  }

  .sidebar {
    background-color: $color-white;
    border: 1px solid $color-fadeGrey;
    padding: 20px;

    h2 {
      text-align: left;
      @include headlines(20, $color-dark);
    }

    .top-jokes {
      font-size: 16px;
      color: $color-darkGrey;
      font-weight: 500;
      text-decoration: underline;
      text-transform: capitalize;

      margin-top: 10px;
    }
  }
}
