@import '../variables/mixins';

.footer {
  min-height: 388px;
  @include flex(center, flex-start);
  background-image: url('../../assets/footer.png');
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;

  h2 {
    @include headlines(22, $color-white);
    max-width: 300px;
    margin-bottom: 20px;
  }
}
