.back-buttoncon {
  margin-top: 20px;
  margin-bottom: 20px;

  .back-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    outline: none;
    border: none;
    background-color: var(--color-darkGrey);
    font-size: 20px;
    color: var(--color-white);
    border-radius: 47% 53% 53% 47% / 35% 17% 83% 65%;
    cursor: pointer;
  }
}
