@import '../variables/fonts';
@import '../colors/colors';
@import '../variables/mixins';
.cj-btn {
  width: 100%;
  min-width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: $fs-sm;
  font-weight: 700;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  appearance: none;
  --webkit-appearance: none;
  color: #fff;
  font-family: 'Montserrat';

  @include media('md') {
    min-width: max-content;
  }

  &.history {
    background-color: $color-appleRed;
  }
  &.career {
    background-color: $color-pastalOrange;
  }
  &.celebrity {
    background-color: $color-paleOrange;
  }
  &.dev {
    background-color: $color-lightGold;
    border: 1px solid $color-darkGrey;
    color: $color-darkGrey;
  }
  &.explicit {
    background-color: $color-kiwiGreen;
  }
  &.money {
    background-color: $color-weirdGreen;
  }

  &.food {
    background-color: $color-skyBlue;
  }

  &.movie {
    background-color: $color-appleRed;
  }

  &.music {
    background-color: $color-pastalOrange;
  }
  &.political {
    background-color: $color-paleOrange;
  }
  &.religion {
    background-color: $color-lightGold;
    border: 1px solid $color-darkGrey;
    color: $color-darkGrey;
  }
  &.science {
    background-color: $color-kiwiGreen;
  }
  &.sport {
    background-color: $color-weirdGreen;
  }

  &.all {
    background-color: transparent;
    border: 1px solid $color-darkMagenta;
    color: $color-darkMagenta;
  }

  // Next And Prev Button

  &.prev,
  &.next {
    min-width: 130px;
    background-color: transparent;
    border: 1px solid $color-darkMagenta;
    color: $color-darkMagenta;

    @include media('md') {
      min-width: fit-content;
      font-size: $fs-sm;
    }

    span {
      display: flex;
      &.icon {
        margin-bottom: 2px;
      }
    }
  }
}
