.cj-btn {
  width: 100%;
  min-width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: 689;
  font-stretch: normal;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  appearance: none;
  --webkit-appearance: none;
  color: #fff;
  font-family: 'Montserrat';

  &.history {
    background-color: var(--color-appleRed);
  }
  &.career {
    background-color: var(--color-pastalOrange);
  }
  &.celebrity {
    background-color: var(--color-paleOrange);
  }
  &.dev {
    background-color: var(--color-lightGold);
    border: 1px solid var(--color-darkGrey);
    color: var(--color-darkGrey);
  }
  &.explicit {
    background-color: var(--color-kiwiGreen);
  }
  &.money {
    background-color: var(--color-weirdGreen);
  }

  &.food {
    background-color: var(--color-skyBlue);
  }

  &.movie {
    background-color: var(--color-appleRed);
  }

  &.music {
    background-color: var(--color-pastalOrange);
  }
  &.political {
    background-color: var(--color-paleOrange);
  }
  &.religion {
    background-color: var(--color-lightGold);
    border: 1px solid var(--color-darkGrey);
    color: var(--color-darkGrey);
  }
  &.science {
    background-color: var(--color-kiwiGreen);
  }
  &.sport {
    background-color: var(--color-weirdGreen);
  }

  &.all {
    background-color: transparent;
    border: 1px solid var(--color-darkMagenta);
    color: var(--color-darkMagenta);
  }
}
